.collapse .navbar-nav .nav-item .nav-link {
    color: rgb(46, 42, 42);
    font-size: 1.1rem;
    transition: filter 0.3s;
}

.collapse .navbar-nav .nav-item .nav-link:hover {
    filter: invert(0.5) brightness(0.9);
}

.collapse .navbar-nav .nav-item .nav-link.text {
    font-size: 1.19rem;
    margin-left: 1rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.hamburguer {
    width: 1.875rem;
    height: 1.25rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.hamburguer span {
    display: block;
    position: absolute;
    height: 0.1875rem;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hamburguer span {
    background: #2506d3;
}

.hamburguer span:nth-child(1) {
    top: 0px;
}

.hamburguer span:nth-child(2) {
    top: 0.625rem;
}

.hamburguer span:nth-child(3) {
    top: 1.25rem;
}

.hamburguer.open span:nth-child(1) {
    top: 0.6875rem;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.hamburguer.open span:nth-child(2) {
    opacity: 0;
    left: -1rem;
}

.hamburguer.open span:nth-child(3) {
    top: 0.6875rem;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}