.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background: #696161;*/
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    color: var(--color-text);
}