.pageContainer {
  width: 100%;
  margin: 16px 0 72px;
  padding: 0 16px;
  overflow: hidden;
  min-height: 70vh;
}

.pageFlex {
  display: flex;
  justify-content: center;
}

.pageContent {
  width: 100%;
  max-width: 2000px;
  margin-right: 20px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px #00000030;
  background: #ffffff;
  padding: 16px;
  border-radius: 10px !important;
}