@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/* Para usar outros padrões de cores basta colocar no root  usar conforme está no fim deste aquivo*/
:root {
    --color-primary: #428ee6;
    --color-secondary: #504d4d;
}

html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}


/* Codigo abaixo usado para alterar as cores paões do bootstrap*/

.bg-secondary {
    background-color: var(--color-secondary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}
